@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, verdana;
}

.home {
  background-image: url(img/brookecopy.jpg);
  background-repeat: none;
  background-size: cover;
  height: 100vh;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgb(236, 239, 241);
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 14px;
}

.links a {
  color: black;
  display: inline-block;
  padding: 2px 30px 2px 30px;
  transition: 0.3s;
}

.links a:hover {
  border-radius: 10px;
  background-color: orangered;
  color: white;
}

.logo h1 {
  color: orangered;
  font-size: 20px;
}

.cart-icon {
  display: flex;
  align-items: center;
}

.cart-icon i {
  color: orangered;
  cursor: pointer;
  font-size: 18px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: orangered;
}

.content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  padding-top: 40px;
}

.content h1 {
  font-size: 70px;
  color: orangered;
  font-weight: bold;
}

.content p {
  padding-top: 20px;
  font-size: 17px;
  max-width: 700px;
}

.order {
  width: 200px;
  margin-top: 50px;
  padding: 10px 0px;
  border-radius: 20px;
  border: 1px solid orangered;
  transition: ease-out 0.6s;
  box-shadow: inset 0 0 0 0 orangered;
  position: relative;
}

.order:hover {
  box-shadow: inset 300px 0 0 0 orangered;
  cursor: pointer;
  border: none;
}

.about {
  background-color: rgb(236, 239, 241);
}

.box {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.box img {
  border-radius: 20px;
  max-height: 400px;
  max-width: 550px;
}

.about-text {
  background-color: #fff;
  padding: 30px 50px 30px 50px;
  position: absolute;
  max-width: 650px;
  top: 35%;
  left: 40%;
  border-radius: 20px;
  text-align: center;
}

.about-text h3 {
  font-size: 26px;
  color: rgb(63, 63, 63);
}

.about-text p {
  font-size: 15px;
  padding-top: 15px;
}

.about-text span {
  color: orangered;
}

.menu {
  background-image: url(img/wall2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
  height: 100vh;
  display: flex;
}

.menu-box {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.menu-text h2 {
  text-align: center;
}

.menu-text p {
  text-align: center;
  margin-top: 20px;
}

.menu-text span {
  color: orangered;
}

.fruits-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 50px;
}

.fruits-content img {
  height: 150px;
  width: 200px;
  border-radius: 20px;
}

.bottom {
  display: flex;
  align-items: center;
  max-width: 200px;
  justify-content: space-between;
  padding-top: 10px;
}

.bottom i {
  color: orangered;
  font-size: 16px;
}

.testimonials {
  background-color: rgb(236, 239, 241);
  height: 100vh;
  display: flex;
}

.final-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remarks {
  background-color: white;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  height: 70vh;
  box-shadow: 0px 5px 10px 0px grey;
}

.remarks:nth-child(2) {
  height: 77vh;
  font-size: 18px;
}

.remarks h4 {
  margin-top: 50px;
}

hr {
  margin-top: 70px;
  text-align: center;
  padding: 0;
}

.line {
  position: relative;
}

.portrait img {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 100px;
  left: 40%;
  top: -2000%;
}

.rating {
  display: flex;
  margin-top: 40px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  color: orangered;
}

footer {
  display: flex;
  padding: 70px 0px;
  background-image: url(img/fruit3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-end {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  column-gap: 40px;
  color: white;
  font-size: 14px;
}

.page-end li {
  list-style: none;
  margin-bottom: 10px;
}

.connect:nth-child(1) ul {
  padding-top: 30px;
}

.connect h4 {
  padding-bottom: 30px;
  color: orangered;
}

.connect li a {
  color: white;
}

.connect li a:hover {
  color: orangered;
}

form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid orangered;
  padding: 5px 0px;
  margin-top: 20px;
}

input {
  all: unset;
  font: 14px;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.subscribe-btn {
  color: white;
  padding: 10px;
  background: orangered;
  border-radius: 20px;
  border: none;
  margin-right: 5px;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

@media screen and (max-width: 810px) {
  .final-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 80px;
  }
  .testimonials {
    background-color: rgb(236, 239, 241);
    height: 250vh;
    display: flex;
  }
  .remarks {
    background-color: white;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px grey;
  }
  .portrait img {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    left: 40%;
    top: -2000%;
  }
  .page-end {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  form {
    margin-right: 60px;
  }
}

@media screen and (max-width: 456px) {
  .menu {
    height: 150vh;
  }
  .final-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .remarks {
    height: 50vh;
  }

  .remarks:nth-child(2) {
    height: 60vh;
    font-size: 18px;
  }
  .testimonials {
    background-color: rgb(236, 239, 241);
    height: 200vh;
  }
}

@media screen and (max-width: 650px) {
  .nav-links {
    position: absolute;
    height: 40vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    right: -100%;
    opacity: 0;
    transition: top 1s ease;
    background-color: whitesmoke;
  }

  .nav-links.active {
    background-color: whitesmoke;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 20%;
    transform: translate(20%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 414px) {
  .about {
    height: 130vh;
  }
  .remarks:nth-child(2),
  .connect p,
  .connect ul li,
  ::placeholder {
    font-size: 14px;
  }
  .remarks {
    font-size: 14px;
    height: 60vh;
  }
  .portrait img {
    height: 70px;
    width: 70px;
  }
  footer {
    padding: 40px 0px;
  }
}
@media screen and (max-height: 740px) {
  .menu {
    height: 170vh;
  }

  .content {
    padding-top: 40px;
  }
}

@media screen and (max-height: 667px) {
  .content h1 {
    font-size: 50px;
  }
  .content p {
    font-size: 14px;
  }
  .order {
    width: 150px;
    margin-top: 30px;
  }
  .about-text h3 {
    font-size: 20px;
  }
  .about-text,
  .menu-text p {
    font-size: 14px;
  }

  .fruits-content img {
    height: 120px;
    width: 120px;
  }
  .bottom {
    max-width: 120px;
  }
  .fruits-content h3 {
    font-size: 16px;
  }
  .fruits-content h4 {
    font-size: 14px;
  }
  .remarks:nth-child(2) {
    font-size: 12px;
  }
  .remarks {
    font-size: 12px;
  }
  .portrait img {
    height: 60px;
    width: 60px;
    left: 37%;
    top: -1700%;
  }
  hr {
    margin-top: 50px;
  }

  .rating {
    font-size: 11px;
  }
}

@media screen and (max-width: 920px) {
  .home {
    background-position: right;
  }
}
